/* GENERAL RULES */

#__next .container {
	border: 1px solid lightgrey;
	margin: 5rem auto 5rem auto;
	padding: 3rem;
	border-radius: 0.5rem;
	background-color: #76aef3;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	cursor: default;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.2rem;
}

.title {
	display: none;
}

.card-body .width {
	width: 5rem;
}

/* SIDE PANEL */
.side-panel {
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	background-color: white;
	max-width: 350px;
}

#main button:hover {
	background: none;
	border: none;
	color: blue;
}

#main form {
	text-align: center;
}

#main ul li {
	list-style-type: none;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.input-group input {
	border-radius: 0;
	border: 1px solid lightgrey;
}

#main button {
	background: none;
	border: none;
	color: darkblue;
	padding-left: 0;
	padding-right: 0;
	margin-top: 1rem;
	font-size: 2rem;
}

/* MAIN PANEL */
.main-panel {
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: #f1f8f9;
	flex: 1;
	min-width: 0px;
}

/* --RESPONSIVE-- */

@media (min-width: 1200px) {
	#main .week-card {
		flex-wrap: nowrap !important;
	}
}

/* Laptop */
@media (max-width: 1200px) {
	.card-day .card-body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.card-day {
		margin-left: 0.25rem !important;
	}

	#main .side-panel,
	#main .main-panel {
		padding: 1rem !important;
	}

	.main-panel .card-day {
		margin-left: 0.25rem !important;
	}

	.title {
		color: darkblue;
		font-size: 4rem;
		margin-top: 4rem;
		display: block;
	}

	#main .week-card {
		flex-wrap: nowrap !important;
	}
}

/* Tablet and Smaller Desktop */
@media (max-width: 950px) {
	#__next .container {
		max-width: 100%;
		padding: 1.5rem;
		margin: 2rem 0rem;
	}

	#main .side-panel {
		max-width: 250px;
	}

	.card-body .width {
		width: 3rem;
	}
}

/* Tablet and Mobile */
@media (max-width: 768px) {
	#main .side-panel {
		max-width: 200px;
	}
}

/* Mobile */
@media (max-width: 576px) {
	#main .side-panel {
		max-width: 200px;
	}

	.main-panel .card-day {
		width: 30%;
		margin-bottom: 0.5rem;
	}

	#main .week-card {
		flex-wrap: wrap !important;
	}
}
