.card {
	width: 10rem;
	border: none;
}

.cityCard {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-width: 14rem;
	min-height: 12rem;
}

#imageSize {
	width: 25%;
}

.iconSize {
	width: 60%;
	margin: auto;
}

.temp {
	background: rgba(255, 255, 255, 0.5);
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

/* --RESPONSIVE-- */

/* Laptop */
@media (max-width: 1200px) {
	.cityCard {
		min-width: 11em;
		min-height: 9rem;
	}

	.card {
		margin-bottom: 0.5rem;
	}
}

/* Tablet and Smaller Desktop */
@media (max-width: 950px) {
	.temp {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.cityCard {
		min-width: 14em;
		min-height: 12rem;
	}
}

/* Tablet and Mobile */
@media (max-width: 768px) {
	.cityCard {
		min-width: 8rem;
		min-height: 6rem;
	}
}

/* Mobile */
@media (min-width: 376px) and (max-width: 576px) {
	.cityCard {
		min-width: 12rem;
		min-height: 8rem;
	}

	.main-panel .card {
		margin-bottom: 0.5rem;
	}
}
